body {
  background: #333;
  color: #fff;
}

/* CORE STYLES */

.bg-finelife-primary {
	background-color: #f470f4;

}

.btn-primary {
	color: #fff;
	background-color: #f470f4;
	border-color: #f470f4;
}

.btn-primary:hover {
	color: #fff;
	background-color: #C359C3;
	border-color: #F470F4;
}

.navbar {
  border-bottom: #f470f4 3px solid;
  opacity: 0.8;
}

#home-section {
  background: url(../img/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.7);
}



#home-section .home-inner {
  padding-top: 150px;
}

#home-section .card-form {
  opacity: 0.8;
}

#home-section .fas,
#create-section .fas {
  color: #f470f4;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}

#explore-section .fas,
#share-section .fas {
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
